<h1>Editing Student Records</h1>

<%= render 'form' %>

<%= link_to 'Delete this student', @student, method: :delete, data: { confirm: 'Are you sure?' } %>
<td><%= link_to '<button type="button">Back</button>' .html_safe, student_path %></td>
