<p id="notice"><%= notice %></p>


<h1>Welcome</h1>

<td><%= link_to '<button type="button">Teacher</button>' .html_safe, teachers_login_login_path %></td>
<td><%= link_to '<button type="button">Student</button>' .html_safe, students_login_login_path %></td>
<td><%= link_to '<button type="button">Parent</button>' .html_safe, parents_login_login_path %></td>
