<p id="notice"><%= notice %></p>


<h1>Welcome</h1>

<%= link_to 'Teacher', teachers_login_login_path %>
<%= link_to 'Student', students_login_login_path %>
<%= link_to 'Parent', parents_login_login_path %>
