<h1>Editing Teacher Records</h1>

<%= render 'form' %>

<td><%= link_to '<button type="button">Delete this teacher</button>' .html_safe, @teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<td><%= link_to '<button type="button">Back</button>' .html_safe, teachers_path %></td>
